.create-recipe-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .create-recipe-button:hover {
    background-color: #7f52ff;
  }
  
  .submit-button {
    background-color: rgb(160, 32, 240);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #7d00a3;
  }

.delete-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px;
}

.delete-button:hover {
  background-color: #7f52ff;
}