.recipe-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-card h2 {
    margin-bottom: 10px;
    color: rgb(128, 128, 128)
  }
  
  .recipe-card h3 {
    margin-bottom: 5px;
    color: var(--primary-color);
  }
  
  .recipe-card ul,
  .recipe-card ol {
    margin-left: 10px;
  }
  
  .recipe-card li {
    margin-bottom: 5px;
  }
  