.recipe-card {
    background-color: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recipe-card h2 {
    margin-bottom: 10px;
    color: rgb(128, 128, 128);
}

.recipe-card h3 {
    margin-bottom: 5px;
    color: var(--primary-color);
}

.recipe-card ul,
.recipe-card ol {
    margin-left: 20px;
}

.recipe-card li {
    margin-bottom: 5px;
    padding-left: 10px;
}